In [7]:
# Read the dataset and display the 10 records
# Print all the column names
# Print the size(rows, cols) of dataset
# Check for the NULL values in dataset and if found replace the NULL values with the average values
# Print the updated dataset
# Display the top 10 countries having highest GDP year 2023
# Display top 10 countries having highest Literacy rate year 2023
# Plot the year wise literacy rate of each country
# Plot the year wise GDP of each country
# Plot the GDP and Literacy rate of the each country (Year : 2023)
# Plot the GDP and Literacy rate of the each country (Year : 2022)
# Plot the GDP and Literacy rate of the each country (Year : 2021)
# Plot the Top 10 countries having highest Literacy Rate of year 2023

import pandas as pd
import xlrd
print('Read the dataset ')
df=pd.read_excel('world_literacy_data_2021_2023.xlsx')
print(df)

Read the dataset
         Country                  GDP  Literacy Rate  Life expectancy  Year
0    Afghanistan     $19,101,353,833           0.097             64.5  2022
1        Albania     $15,278,077,447           0.550             78.5  2022
2        Algeria    $169,988,236,398           0.514             76.7  2022
3        Andorra      $3,154,057,987             NaN              NaN  2022
4         Angola     $94,635,415,870           0.093             60.8  2022
..           ...                  ...            ...              ...   ...
580    Venezuela      $1,185,728,677           0.026             72.8  2021
581      Vietnam  $1,119,190,780,753           0.116             54.3  2021
582        Yemen      $1,050,992,593           0.157             83.1  2021
583       Zambia      $10,220,781,063          1.366             77.2  2021
584     Zimbabwe  $1,394,116,310,769           1.046             81.0  2021

[585 rows x 5 columns]

In [8]:
print('Read the dataset and display the 10 records')
print('-------------------------------------------')
print(df.head(10))

Read the dataset and display the 10 records
-------------------------------------------
               Country                  GDP  Literacy Rate  Life expectancy  \
0          Afghanistan     $19,101,353,833           0.097             64.5
1              Albania     $15,278,077,447           0.550             78.5
2              Algeria    $169,988,236,398           0.514             76.7
3              Andorra      $3,154,057,987             NaN              NaN
4               Angola     $94,635,415,870           0.093             60.8
5  Antigua and Barbuda      $1,727,759,259           0.248             76.9
6            Argentina    $449,663,446,954           0.900             76.5
7              Armenia     $13,672,802,158           0.546             74.9
8            Australia  $1,392,680,589,329           1.131             82.7
9              Austria    $446,314,739,528           0.851             81.6

   Year
0  2022
1  2022
2  2022
3  2022
4  2022
5  2022
6  2022
7  2022
8  2022
9  2022

In [9]:
print('Print all the column names')
print('--------------------------')
df.columns

Print all the column names
--------------------------

Index(['Country', 'GDP', 'Literacy Rate', 'Life expectancy', 'Year'], dtype='object')

In [10]:
print('Print the size(rows, cols) of dataset')
print('--------------------------------------')
df.size

Print the size(rows, cols) of dataset
--------------------------------------

2925

In [11]:
print('Check for the NULL values in dataset and if found replace the NULL values with the average values')
print('-------------------------------------------------------------------------------------------------')
null_counts=df.isnull().sum
print('The Null values is :' ,null_counts)
df.isnull().sum()

Check for the NULL values in dataset and if found replace the NULL values with the average values
-------------------------------------------------------------------------------------------------
The Null values is : <bound method DataFrame.sum of      Country    GDP  Literacy Rate  Life expectancy   Year
0      False  False          False            False  False
1      False  False          False            False  False
2      False  False          False            False  False
3      False  False           True             True  False
4      False  False          False            False  False
..       ...    ...            ...              ...    ...
580    False  False          False            False  False
581    False  False          False            False  False
582    False  False          False            False  False
583    False  False          False            False  False
584    False  False          False            False  False

[585 rows x 5 columns]>

Country             0
GDP                 4
Literacy Rate      19
Life expectancy    17
Year                0
dtype: int64

In [12]:
print(df.shape)
# print(df.ndim)
print(df)

(585, 5)
         Country                  GDP  Literacy Rate  Life expectancy  Year
0    Afghanistan     $19,101,353,833           0.097             64.5  2022
1        Albania     $15,278,077,447           0.550             78.5  2022
2        Algeria    $169,988,236,398           0.514             76.7  2022
3        Andorra      $3,154,057,987             NaN              NaN  2022
4         Angola     $94,635,415,870           0.093             60.8  2022
..           ...                  ...            ...              ...   ...
580    Venezuela      $1,185,728,677           0.026             72.8  2021
581      Vietnam  $1,119,190,780,753           0.116             54.3  2021
582        Yemen      $1,050,992,593           0.157             83.1  2021
583       Zambia      $10,220,781,063          1.366             77.2  2021
584     Zimbabwe  $1,394,116,310,769           1.046             81.0  2021

[585 rows x 5 columns]

In [14]:
print(' Display the top 10 countries having highest GDP year 2023')
print('----------------------------------------------------------')
#Filtering
gdp_2023 = df[df['Year'] == 2023]

# gdp_2022_sorted = gdp_2022.sort_values(by='GDP', ascending=False)
gdp_20221=gdp_2023.groupby('Country')['GDP'].max()
print(gdp_20221)
# top_10_gdp_countries = gdp_2022_sorted.head(10)
# print(top_10_gdp_countries[['Country', 'GDP']])

 Display the top 10 countries having highest GDP year 2023
----------------------------------------------------------
Country
Afghanistan        $1,050,992,593
Albania        $1,119,190,780,753
Algeria            $1,185,728,677
Andorra            $1,228,170,370
Angola         $1,258,286,717,125
                      ...
Venezuela         $94,635,415,870
Vietnam                        NaN
Yemen             $96,107,662,398
Zambia             $8,116,626,794
Zimbabwe          $95,503,088,538
Name: GDP, Length: 195, dtype: object